/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-jun-2021, 15:10:12
    Author     : sergio saenz
*/

/*INDEX*/
*{
padding: 0;
margin:0;
}

body {
font-size: 12px;
font-family: sans-serif;
background-color:#D7DBDD;
}
/*MENU*/
i {
  margin-right: 10px;
}
.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #1543AF;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #1543AF;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: '\f105';
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
    background-color: #1543AF;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}
@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}


/*Primer parrafo*/
.parrafo{
	font-size:20px;
	margin-left: 100px;
	width:220px;
	height: 292px;
	text-align: center;
	background-color: white;
}
.imagen1{
	margin-left: 100px;
	width: 220px;
}

.imagenyparrafo{
	float: left;
}
/*CONTENEDOR*/
.contenedor{
	display: flex;
	align-items: center;
	float:right;
	margin-right:50px;
	background-color:white;
	width:965px;
	height:515px;
}
/*Imagenes index*/
.imagen2{
	width: 200px;
	border: 2px solid black;
	margin: 5px;
	margin-left: 80px;
	border-radius: 8px;
}
.pcontenido{
	text-align: center;
	font-size:20px;
}
/*FOOTER*/
.footer{
	background-color:white;
	width:1200px;
	height:230px;
	display: flex;
	float:right;
	margin: 30px 50px;
}
.contactenos{
	font-size: 20px;
	margin:40px;
	margin-right:120px;
	float: right;
        text-align: center;
}
.ubicacion{
	font-size: 20px;
	margin:40px;
	margin-right:110px;	
        text-align: center;
}
.redes{
	font-size: 20px;
	margin:40px;	
	margin-right:161px;
	float:left;
        text-align: center;
}

/*MISION*/

.Mision{
    float:right;
    border:2px solid black;
    margin:0px 130px;
    width:700px;    
    height:400px;
    background:#1543AF;
}
/*titulo mision*/
.Tmision{
    font-size:40px;
    color:white;
    width:100px;
}
/*parrafo mision*/
.Mparrafo{
    color:white;
    font-size: 25px;
    font-family: sans-serif;
    margin:0px 10px;
    
}


/*VISION*/
.Vision{
    float:right;
    border:2px solid black;
    margin:0px 130px;
    width:700px;    
    height:400px;
    background:#1543AF;
}

.Tvision{
    font-size:40px;
    color:white;
    width:300px;
}
/*parrafo vision*/
.Vparrafo{
    font-size: 25px;
    font-family: sans-serif;
    color:white;
    margin:0px 20px;
}


/*LOGIN*/
 *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.cuerpoL{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	background: linear-gradient(to right,#00B0FF,#15df91);

}



.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contenidoL{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	border-radius: 8px;
	background-color:#1543AF;
	width:350px;
	height: 520px;
	padding: 10px;
	margin: 70px 30px;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.contenidoL img{
    height: 100px;
}

.contenidoL h2{
	margin: 15px 0;
	color: rgb(235, 227, 227);
	text-transform: uppercase;
	font-size: 2.9rem;
}

.contenidoL .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
	
}

.contenidoL .input-div.one{
	margin-top: 0;
	
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color:#fff;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color:#fff;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color:#fff;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align:left;
	text-decoration: none;
	color:#fff;
	font-size:18px;
	transition: .3s;
}

a:hover{
	color:#68E1A3
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius:8px;
	outline: none;
	border: none;
	background: linear-gradient(to right,#00B0FF,#15df91,#00B0FF);
	background-size: 200%;
	font-size: 1.2rem;
	color:#fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.contenidoL h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.contenidoL{
		justify-content: center;
	}
}
