/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-jun-2021, 15:10:12
    Author     : sergio saenz
*/

/*INDEX*/
*{
		padding: 0;
		margin:0;
	}

	body {
	font-size: 12px;
	font-family: sans-serif;
	background-color:#D7DBDD;
}
/*MENU*/
header{
	background: #2c3e50;
}


nav {
	margin: 27px auto 0;
	position: relative;
	width: 550px;
	height: 50px;
	background-color:white;
	font-size: 0;
	border:1px solid black;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
	border:1px solid black;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
}
a:nth-child(1) {
	width: 118px;
}
a:nth-child(2) {
	width: 127px;
}
a:nth-child(3) {
	width: 117px;
}
a:nth-child(4) {
	width: 179px;
}

nav .start-inicio, a:nth-child(1):hover~.animation {
	width:120px;
	left: 0;
	background-color: #2c3e50;
	height: 10px;
}
nav .start-mision, a:nth-child(2):hover~.animation {
	width: 129px;
	left: 120px;
	background-color: #2c3e50;
	height: 10px;
}
nav .start-vision, a:nth-child(3):hover~.animation {
	width: 119px;
	left: 249px;
	background-color: #2c3e50;
	height: 10px;
}
nav .start-login, a:nth-child(4):hover~.animation {
	width: 181px;
	left: 368px;
	background-color: #2c3e50;
	height: 10px;
}

/*Primer parrafo*/
.parrafo{
	font-size:20px;
	margin-left: 170px;
	width:220px;
	height: 280px;
	text-align: center;
	background-color: white;
}
.imagen1{
	margin-left: 170px;
	width: 220px;
}

.imagenyparrafo{
	float: left;
}
/*CONTENEDOR*/
.contenedor{
	display: flex;
	align-items: center;
	float:right;
	margin-right:80px;
	background-color:white;
	width:960px;
	height:510px;
}
/*Imagenes index*/
.imagen2{
	width: 200px;
	border: 3px solid black;
	margin: 5px;
	margin-left: 80px;
	border-radius: 8px;
}
.pcontenido{
	text-align: center;
	font-size:20px;
}
/*FOOTER*/
.footer{
	background-color: white;
	width:1250px;
	height:200px;
	display: flex;
	float:right;
	margin: 20px 80px;
}
.contactenos{
	font-size: 20px;
	margin:60px;
	margin-right:120px;
	float: right;
        text-align: center;
}
.ubicacion{
	font-size: 20px;
	margin:60px;
	margin-right:110px;	
        text-align: center;
}
.redes{
	font-size: 20px;
	margin:40px;	
	margin-right:161px;
	float:left;
        text-align: center;
}

/*MISION*/

.Mision{
    float:right;
    border:2px solid black;
    margin:0px 130px;
    width:700px;    
    height:400px;
    background:#2c3e50;
}
/*titulo mision*/
.Tmision{
    font-size:40px;
    background-color:white;
    width:300px;
}
/*parrafo mision*/
.Mparrafo{
    background-color:white;
    font-size: 25px;
    font-family: sans-serif;
    margin:0px 20px;
    padding:10px;
}


/*VISION*/
.Vision{
    float:right;
    border:2px solid black;
    margin:0px 130px;
    width:700px;    
    height:400px;
    background:#2c3e50;
}

.Tvision{
    font-size:40px;
    background-color:white;
    width:300px;
}
/*parrafo vision*/
.Vparrafo{
    background-color:white;
    font-size: 25px;
    font-family: sans-serif;
    margin:0px 20px;
    padding:10px;
}


/*LOGIN*/

/*h1 del login*/
.Tlogin{
    font-size:40px;
    background-color:white;
    width:300px;
}
.Llabel{
    font-size:25px;
    float:center;
    background-color:white;
    margin:20px;
    padding: 5px;
    border-radius: 8px;
}

.Linput{
 width:200px;
 height:40px;
 border-radius: 8px;
}

.Linput::placeholder{
    font-size:25px;
    text-align: center;
    font-family: sans-serif;
}

.Login{
    float:right;
    border:2px solid black;
    margin:0px 230px;
    width:500px;    
    height:410px;
    background:#2c3e50;
}
.Lboton{
    width:100px;
    background-color:white;
    height: 32px;
    font-family: sans-serif;
    font-size:20px;
    border-radius: 8px;
    cursor:pointer;
}